@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
/* font-family: 'Poppins', sans-serif; */

:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #373737;
	--red: #ff4858;
	--blue: #40bfff;
	--skyBlue: #bcddfe;
}

html {
	scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	padding-top: 50px;
	background-color: rgba(0, 0, 0, 0.4);

	/* filter: blur(5px); */
}
.overlayHeading {
	margin-left: 20px;
	margin-top: -10px;
	color: var(--dark);
	font-size: 22px;
}
* {
	box-sizing: border-box;
}

.container {
	padding-bottom: 800px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: var(--white);
	height: 560px;
	filter: blur(0);
	border-radius: 10px;
	border-color: 1px solid var(--dark);
}
.paymentHeading {
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 38px;

	text-transform: capitalize;
	text-align: center;
	color: var(--blue);
	padding-top: 60px;
}

.success {
	background: var(--blue);

	box-shadow: 0px 10px 30px rgba(64, 191, 255, 0.24);
	border-radius: 56px;
	width: 130px;
	height: 129px;
	margin-left: 520px;
	margin-top: 100px;
}
.tick {
	margin-left: 45px;
	padding-top: 45px;
}
.tickBar {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	margin-top: 70px;
	text-align: center;
	letter-spacing: 0.5px;
	color: #223263;
}
.completeButton {
	background: #33a0ff;
	border-radius: 10px;
	width: 280px;
	height: 60px;
	margin-top: 100px;
	margin-left: 440px;
}
.completeButton:hover {
	background: #328cdb;
}
.completeText {
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;
	color: var(--white);
	padding-left: 95px;
	padding-top: 15px;
}
.smallCon1 {
	background: var(--blue);
	box-shadow: 0px 10px 40px rgba(248, 161, 112, 0.2);
	width: 36px;
	height: 36px;
	border-radius: 20px;
	margin-left: 20px;
	float: right;
}
.smallCon2 {
	background: var(--blue);
	box-shadow: 0px 10px 40px rgba(248, 161, 112, 0.2);
	width: 36px;
	height: 36px;
	border-radius: 20px;
	margin-left: 20px;
	float: right;
}
.smallCon3 {
	background: var(--blue);
	box-shadow: 0px 10px 40px rgba(248, 161, 112, 0.2);
	width: 36px;
	height: 36px;
	border-radius: 20px;
	float: right;
}
.smallCon {
	margin-right: 500px;
}
.smallConText {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;

	color: var(--white);
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	padding-left: 13px;
	padding-top: 4px;
}
